
@import './styles/global.css';
@import './styles/navbar.css';
@import './styles/hero.css';

@import './styles/buttons.css';

@import './styles/sections.css';
@import './styles/section-cards.css';

#effects-root {
  position: relative;
  min-height: 100vh;
  transform-style: preserve-3d;
  will-change: transform;
}
#background-layer {
  position: fixed;
  inset: 0;
  z-index: -1;
  will-change: transform;
  transform-style: preserve-3d;
}